.generic-template-sideimage {
    height: 570px;
    width: 35dvw;
    object-fit: cover;
    object-position: center;

    @media screen and (width <= 768px) {
        height: auto;
        width: 100dvw;
    }
}

div:has(.generic-template-sideimage) {
    @media screen and (width <= 768px) {
        padding: 0;
    }
}

.generic-flex-content-wrapper {
    background-image: url(../images/yellow-vector-extended.png);
    background-position: left;
    background-repeat: repeat-y;
    background-size: auto;
}

td {
    border-width: 1px;
    padding: 10px;
}