.generic-template-sideimage {
    height: 570px;
    width: 35dvw;
    object-fit: contain;
    object-position: center;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;

    @media screen and (width <= 768px) {
        height: auto;
        width: 100dvw;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
}

div:has(.generic-template-sideimage) {
    @media screen and (width <= 768px) {
        padding: 0;
    }
}

.generic-flex-content-wrapper {
    background-image: url(../images/yellow-vector-extended.png);
    background-position: left;
    background-repeat: repeat-y;
    background-size: auto;
}
