.resident_accordion,
.resident_accordion * {
    transition: all 250ms ease-in-out;
}

.resident_accordion:hover {
    cursor: pointer;
    background: #bdab73;
}

.resident_accordion:hover img.resident_info_row_arrow {
    transform: rotate(-50deg);
}

.resident_side_image {
    object-fit: cover;
    object-position: center;
    width: 80%;
    height: 50dvh;
}

.input-group:has(.downloadable_file_search) {
    width: 34dvw;

    @media screen and (width <= 768px) {
        width: 100%;
    }
}

.anchor_tags_container {
    width: 75%;

    @media screen and (width <= 768px) {
        width: 100%;
    }
}

.downloadable_file_search {
    padding: 10px;
    background-color: white;
}

.resident_info_head_wrapper {
    background-image: url(../images/yellow-vector-right.png);
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: 23dvh;
}

.container-fluid.resident_rights_container.has_bg_image {
    background-image: url(../images/ui/yellow-diamond.svg);
    background-size: 850px;
    background-repeat: no-repeat;
    background-position: left;
}