
.about_text span p{

max-width: 744px;
break-after: always;
margin-top: 20px;
}

.secssionBk {
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

.all_acts {
    width: 172px;
    background: #BDAB73;
    border-radius: 30px;
    border: solid 1px #BDAB73;
    margin: 0 auto;
    text-align: center;
    position: relative;
    padding: 12px;


}

.all_acts a {
    color: #fff;
    text-decoration: none;
}


.apw {
    max-width: 957px;
    text-align: center;
    margin: 0 auto;
}

.staff_photo {
    max-width: auto;
    border: solid 2px #f1e1c1;
    border-radius: 20px;
    overflow: hidden;
    margin: 5px;
}


.hero-section{
    background:#cec0972e;
}
section{
    margin-top: -4px !important;
    margin-bottom: -4px !important;
}
.hovertagabout a{
    color: #454242 !important;
  text-decoration: none  !important;
}
.hovertagabout:hover{
    background: #e7e4de;
  color: #454242;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.staff_photo{
    transition: all 0.5s ease-in-out;
}
.staff_photo:hover{
    background: #EBE8E3;
}