.about_text span p {
    max-width: 744px;
    break-after: always;
    margin-top: 20px;
}

.secssionBk {
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

.all_acts {
    width: 172px;
    background: #bdab73;
    border-radius: 30px;
    border: solid 1px #bdab73;
    margin: 0 auto;
    text-align: center;
    position: relative;
    padding: 12px;
}

.all_acts a {
    color: #fff;
    text-decoration: none;
}

.apw {
    max-width: 957px;
    text-align: center;
    margin: 0 auto;
}

.staff_photo {
    border: solid 2px #f1e1c1;
    border-radius: 20px;
    margin: 5px;
}

.staff_photo img {
    object-position: center;
    height: 28dvh;
}

section {
    margin-top: -4px !important;
    margin-bottom: -4px !important;
}

.hovertagabout a {
    color: #454242 !important;
    text-decoration: none !important;
}

.hovertagabout:hover {
    background: #e7e4de;
    color: #454242;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.staff_photo {
    transition: all 0.5s ease-in-out;
}

.staff_photo:hover {
    background: #ebe8e3;
}

.small-button {
    font-size: 12px;
    /* Adjust text size */
    font-weight: normal;
    /* Removes bold */
    padding: 5px 10px;
    /* Adjust padding */
    border: solid 1px #b2aea8;
    min-width: 149px;
}

.community_field_content {
    max-width: 700px;
    font-size: 18px !important;
}

.community_field_content p {
    font-size: 17px !important;
    text-align: justify;
}

/*Accordion style As Figma Demands*/
.accordion-button:not(.collapsed) {
    background-color: transparent !important;
}

.accordion-button {
    background-color: transparent !important;
}

.accordion-item {
    background-color: transparent !important;
    margin-bottom: 20px;
    border: solid 1px #b2aea8 !important;
    border-radius: 10px;
}

.GroupContent {
    font-weight: 300 !important;
    font-size: 16px !important;
}

.accordion-body h1 {
    font-size: 24px !important;
}

.infotable {
    border: solid 1px #b2aea8;
    padding: 10px;
}

.infotable thead tr th {
    border: solid 1px #ebe8e3 !important;
    padding: 10px !important;

    font-size: 16px !important;
    font-weight: 600;
}

.infotable tbody tr td {
    border: solid 2px #ebe8e3 !important;
    padding: 10px !important;

    font-size: 16px !important;
    font-weight: 100;
}

.table-responsive {
    margin-top: 25px;
}

@media (max-width: 1000px) {
    .filedownload {
        margin-top: 5px;
    }
}

@media (min-width: 1000px) {
    .filedownload {
        margin: 5px;
        max-width: 31%;
    }

    .span {
        max-width: 76%;
        margin: auto;
        text-align: justify;
    }
}

.filedownload {
    border: solid 1px #b2aea8;
    border-radius: 10px;
    min-height: 123px;
    font-size: 16px !important;
    padding: 10px;
}

.filedownload h2 {
    font-size: 13px !important;
    font-weight: 500;
}

.filedownload p {
    font-size: 12px !important;
}

.span {
    font-size: 11px !important;
    font-weight: normal;
    color: #000;
}

.fileicon {
    width: auto;
    position: absolute;
    margin-top: -30px;
    margin-right: -10px;
}

.filedownload_icon {
    width: auto;
    margin-right: 210px;
    cursor: pointer;
}

.carousel-control-prev-icon {
    background-image: url("../images/video/right_arrow.png") !important;
}

.carousel-control-next-icon {
    background-image: url("../images/video/left_arrow.png") !important;
}

.carousel {
    margin-top: 20px;
}

.accordion-header {
    outline: none !important;
}

.accordion-button {
    outline: none !important;
}

.accordion-button:focus {
    outline: none !important;
}

button:focus:not(:focus-visible) {
    outline: none !important;
}

.aboutTitle {
    max-width: 740px;
}

.nbrhd {
    max-width: 690px;
    list-style: decimal;
    text-align: justify !important;
}

.nbrhd li {
    display: inline-flex;
    font-size: 20px;
    color: #0c263c;
    margin: 5px 5px 0 5px;
}

.nbrhd li::after {
    content: "|";
    padding-right: 10px;
}

.nbrhd li:last-child::after {
    content: "";
}

.nbrhd li:nth-child(3n)::after {
    content: "";
}

.Status_pill {
    display: inline-flex;
    align-items: center;
    background-color: #ffffff;
    color: #333;
    text-decoration: none;
    padding: 6px 15px;
    border-radius: 20px;
    font-family: Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
    width: auto;
    border: solid 1px #bdab73;
    -webkit-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.75);
}

.Status_pill .circle {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin-left: 7px;
}

.sts_title {
    display: inline-flex;

    font-size: 20px;
    position: relative;
    height: 43px;
    /* background: aliceblue; */
    justify-content: center;
    align-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
    vertical-align: top;
    padding-top: 8px;
    padding-left: 10px;
}

.fadeCarousle .slick-arrow::before {
    display: none;
}

.fadeCarousle .slick-next {
    z-index: 999;

    position: absolute;
    top: 42%;
    transform: translateY(-50%);
    z-index: 10;
    left: 77px;
}

.fadeCarousle .slick-prev {
    z-index: 999;
    top: 42%;
    transform: translateY(-50%);
    z-index: 10;
    right: 37px;
}

.src_image_gallery {
    border-radius: 20px;
    width: 100%;
    height: 510px;
}

.slick-dots {
    bottom: 71px !important;
}

.slick-dots li.slick-active button:before {
    opacity: 0.75;
    color: #fff;
    width: 25px;
    z-index: 999999999 !important;
}

.slick-dots li button:before {
    font-size: 16px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: "•";
    text-align: center;
    opacity: 0.25;
    color: #c9c3c3;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    z-index: 999999999 !important;
}

.slick-dots li button:before {
    width: 20px;
}

.yt_video_gallery iframe {
    height: 510px;
}

@media (max-width: 768px) {
    .slick-prev {
        right: -6px !important;
        top: 44% !important;
        z-index: 999999999 !important;
        z-index: 999999999999999 !important;
        width: 50%;
        height: 100%;
        text-align: start;
    }

    .slick-next {
        left: -61px !important;
        top: 44% !important;
        z-index: 999999999 !important;
        width: 50%;
        height: 100%;
    }

    .slick-dots li {
        margin: 0px !important;
    }

    .src_image_gallery {
        height: 240px !important;
    }

    .yt_video_gallery iframe {
        height: 240px !important;
    }
}

.pro_desc {
    max-width: 744px;
}

.external_link_wrapper {
    max-width: 744px;
    border: solid 1px #b2aea8;
    border-radius: 20px;
    padding: 10px;
}

.el_logo {
    border: 1px solid #b2aea8;
    border-radius: 10px;
    width: max-content;
}

.s_number {
    color: #0c263c;
    font-size: 40px;
    width: 100%;
    display: block;
    text-align: center;
    font-weight: 500;
}
.s_title {
    color: #0c263c;
    font-size: 18px;
    width: 100%;
    display: block;
    text-align: center;
}
